.fondo {
    position: absolute;
    inline-size: 100vw;
    block-size: 100%;
    top: 0;
    background-color: rgb(0, 0, 0, 0.6);
}

article.article {
    --ancho: 700px;

    position: absolute;
    inline-size: var(--ancho);
    block-size: 900px;
    background-color: #03122f;
    padding-block-start: 30px;
    border: 5px solid #6bd1ff;
    border-radius: 15px;

    top: 100px;
    left: calc(50vw - (var(--ancho) / 2));

    display: flex;
    flex-flow: column;
    align-items: center;

    @media (width <= 810px) {
        --ancho: 90vw;
    }

    @media (width <= 56px) {
        --ancho: 97vw;
    }
}

.cerrar {
    --diametro: 53px;

    inline-size: var(--diametro);
    block-size: var(--diametro);
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;

    &:hover {
        color: red;
    }

    @media (width <= 810px) {
        --diametro: 35px;
    }

    @media (width <= 560px) {
        top: 5px;
        right: 5px;

        --diametro: 28px;
    }
}

h3.h3 {
    inline-size: fit-content;
    font-size: 6rem;
    color: #2271d1;
    text-transform: uppercase;

    @media (width <= 810px) {
        font-size: 4.5rem;
    }

    @media (width <= 560px) {
        font-size: 2rem;
        margin-block-end: 15px;
    }
}

form.form {
    inline-size: 100%;
    block-size: 90%;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    @media (width <= 560px) {
        justify-content: space-between;
    }
}

.divBotones {
    inline-size: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (width <= 810px) {
        justify-content: space-between;
    }

    @media (width <= 810px) {
        inline-size: 90%;
        block-size: 150px;
        justify-content: center;
    }
}

label.inputs {
    inline-size: 75%;

    @media (width <= 560px) {
        font-size: 1.6rem;
        inline-size: 90%;
    }
}

label.inputs > * {
    block-size: 40px;
}

label.textArea {
    inline-size: 75%;
    @media (width <= 560px) {
        inline-size: 90%;
        font-size: 1.6rem;
    }
}

label.textArea > * {
    block-size: 180px;
}
