.label {
    inline-size: 55%;
    color: white;
    font-size: 2rem;
    font-weight: 600;

    max-inline-size: 470px;

    display: flex;
    flex-flow: column;
    row-gap: 10px;
}

.textarea {
    block-size: 220px;
    border-radius: 15px;
    outline: none;
    padding: 15px 5px;

    background-color: transparent;

    border-radius: 10px;
    border-color: #999999;
    color: white;
}

.textarea::placeholder {
    color: #bbb;
}
