@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
    font-size: 10px;
}

* {
    font-family: "Hind Mysuru", serif;
    margin: 0;
}

body {
    writing-mode: horizontal-tb;
    background-color: rgb(38, 38, 38);
}

#root {
    inline-size: 100vw;
    /* block-size: 100vh; */
    background-color: black;
    display: flex;
    flex-flow: column;
    position: relative;

    @media (width <= 470px) {
        flex-flow: column-reverse;
    }
}
