.nav {
    max-inline-size: 1440px;
    block-size: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-block-end: 4px solid #2271d1;

    @media (width <= 470px) {
        border: none;
        border-block-start: 4px solid #2271d1;
    }
}

.img {
    block-size: 40px;

    @media (width <= 600px) {
        block-size: 35px;
    }

    @media (width <= 470px) {
        display: none;
    }
}

.divGrupoBotones {
    --color: white;

    inline-size: 386px;
    block-size: 54px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (width <= 600px) {
        block-size: 45px;
        justify-content: center;
        column-gap: 20px;
        inline-size: fit-content;
    }

    @media (width <=470px) {
        inline-size: 80%;
        justify-content: space-around;
    }
}

.home,
.plus {
    @media (width > 470px) {
        display: none;
    }
}

.home {
    color: #2271d1;
    inline-size: 22px;
    block-size: 22px;
}

.plus {
    color: #2271d1;
    inline-size: 26px;
    block-size: 26px;
}

.homeSolo:hover,
.plusSolo:hover {
    color: red;
}

.homeSolo {
    /* color: #2271d1; */
    color: white;
    inline-size: 33px;
    block-size: 33px;
}

.plusSolo {
    color: white;
    inline-size: 40px;
    block-size: 40px;
}
