.section {
    inline-size: 100%;
    display: flex;
    flex-flow: column;
}

.h3 {
    inline-size: fit-content;
    padding-inline: 40px;
    block-size: 60px;
    color: white;
    text-transform: uppercase;
    margin-block-end: 40px;

    font-size: 3.2rem;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (width <= 798px) {
        font-size: 2.4rem;
        align-self: center;
        block-size: 50px;
    }

    @media (width <= 470px) {
        font-size: 1.8rem;
        padding-inline: 20px;
    }
}

.h3Color·front-end {
    background-color: #6bd1ff;
}

.h3Color·back-end {
    background-color: #00c86f;
}

.h3Color·inovacion-gestion {
    background-color: #ffba05;
}

.divCards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 35px;

    margin-block-end: 91px;

    @media (width <= 798px) {
        gap: 24px;
        justify-content: space-between;
        flex-flow: nowrap;
        overflow: scroll;
        padding: 6px;
    }
}
