.div {
    inline-size: 400px;
    block-size: 300px;
    border-radius: 15px;
    background-color: rgb(38, 38, 38);

    @media (width <= 930px) {
        inline-size: 340px;
    }

    @media (width <=280px) {
        block-size: 250px;
    }

    &:hover {
        background-color: yellowgreen;
    }
}

.colorBorde·front-end {
    border: none;
    box-shadow: 0 0 10px 2px #6bd1ff;
}

.colorBorde·back-end {
    border: none;
    box-shadow: 0 0 10px 2px #00c86f;
}

.colorBorde·innovacion-gestion {
    border: none;
    box-shadow: 0 0 10px 2px #ffba05;
}

.img {
    inline-size: 100%;
    block-size: 80%;
    border-radius: 15px 15px 0 0;
}

.button {
    inline-size: 110px;
    block-size: 28px;
    place-self: center;

    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;

    background: transparent;
    border: none;

    display: flex;
    justify-content: space-around;

    &:hover {
        color: cornflowerblue;
    }
}

.divBotones {
    inline-size: 100%;
    block-size: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
