.footer {
    inline-size: 100%;
    block-size: 125px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    border-block-start: 4px solid #2271d1;

    @media (width <= 470px) {
        display: none;
    }
}

.img {
    block-size: 40px;
}
